* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --gray-50: #b5b7c0;
  --gray-100: #acacac;
  --gray-200: #9197b3;
  --gray-300: #838383;
  --gray-400: #7e7e7e;
  --gray-500: #404b52;
  --gray-600: #3d3c42;
  --gray-700: #333333;
  --gray-800: #292d32;

  --primary-400: #5932ea;
  --primary-500: #4925e9;

  --success-100: #16c098;
  --success-200: #00ac4f;
  --success-300: #008767;

  --error-100: #ffc5c5;
  --error-200: #d0004b;
  --error-300: #df0404;
}
